/* account component */
.account {
  height: 0vh;
  width: 100%;
  display: flex;
  gap: 0.9rem;
  justify-content: flex-end;
  align-items: center;
  margin-right: 30px;
  font-size: 16px;
  margin-top: -12px;
}

.account > span:last-child {
  cursor: pointer;
}
